body {
	font-family: 'Dosis', sans-serif;
	font-size: 12px;
	margin: 5px;
	min-height: 100px;
	padding: 0;
	width: 300px;
	border: none;
	border-radius: 5px;
}

header {
	grid-area: header;
	display: grid;
}

.logo {
	width: 35px;
	border: 3px solid #fff;
	align-self: center;
	justify-self: center;
	margin-top: 10px;
}

h1 {
	font-size: 22px;
	font-weight: 500;
	color: #fff;
	letter-spacing: .5px;
	align-self: center;
	justify-self: center;
}

.wrapper {
	display: grid;
	align-content: center;
	justify-content: center;
  grid-template-columns: 250px;
  grid-gap: 3px;
	background-color: rgba(36, 143, 143, .8);
	border: none;
	border-radius: 5px;
	grid-template-areas: 
		"header"
		"icons"
		"description"
		"footer"
}

.container {
	grid-area: icons;
	width: 100%;
	padding-left: 6%;
}

li { 
	display: inline-grid;
	text-decoration: none;
	background-color: #FFF;
	border-radius: 5px;
	width: 32px;
	height: 32px;
	overflow: hidden;
	margin: 5px;
}

li:hover {
	transition: all .2s ease-in-out;
	transform: scale(1.2); 
}

.description {
	grid-area: description;
	display: grid;
	font-weight: 400;
	letter-spacing: 1.5px;
	color: #fff;
	text-align: center;
}

footer {
	grid-area: footer;
	color: rgba(255, 255, 255, .8);
	font-size: 9px;
	text-align: center;
	letter-spacing: 1.2px;
	padding-bottom: 5px;
}

